@import "../../scss/variables.scss";

mat-card {
  &.number-results-card {
    background-color: $geo-blue;
    color: $white;
    border-radius: 0;
    text-align: center;
    font-weight: bold;
    
    @media screen and (min-width: 599px) {
      border-radius: 2%;
      margin-bottom: 20px;
    }
  }
}
