
/* COLORS */
$geo-yellow: #e8c749;
$geo-blue: #235e9c;
$geo-grey: #9c9c9c;
$geo-highlight: #e1f5f7;
$geo-highlight-button: #8297a7;

$white: #fff;


/* FONTS */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-xxxl: 24px;